@import "../Variables/Variables.scss";

.navbar_div {
    display: flex;
    justify-content:space-between;
    height: 60px;
    width: 100%;
    background-color: $darkBlue;
}

.navbar_logo {
    margin-right: 20px;
    height: 60px;
    width: 120px;
}

.navbar_menu {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 5px;
    background-color: $darkBlue;
    border-radius: 11px;
    height: 37px;
    width: 37px;
    margin-top: 5px;
    margin-left: 20px;
    cursor: pointer;
}

.navbar_menu:hover {
    border: 1px solid white
}

.dash {
  @include dash
}

.navbar_user_menu {
    position: fixed;
    height: 159px;
    width: 130px;
    border: 1px solid $darkBlue;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    margin-left: 80px;
    margin-top: 49px;
    background-color: white;
    z-index: 1;
}

.menu_links {
    @include link (130px)
}

.menu_link {
    display: flex;
    font-size: 16px;
    margin-left: 10px;
    height: 30px;
    margin-top: -15px;
}

hr {
    border: .5px solid rgb(210, 210, 210);
    margin-top: 20px;
    margin-bottom: 5px;
}